.mainPage {
  display: flex;

  & > .mainLeftPanel { flex-basis: 75%; }
  & > .selectedChunk { flex-basis: 25%; }
}


@media (max-width: 767px){
  .mainPage {
    flex-direction: column;
  }

  .mainPage > .selectedChunk { flex-basis: 100%; }
}
