// Colors
$green-light: #86ddb2;
$green-dark: #011d05;
$gray-light: #f2f2f2;
$gray-dark: #2f2f2f;
$red: #ff6347;
$yellow: #f3f7d2;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoints
$desktop-breakpoint: 45rem;
